*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(135deg,#4facfe,#00f2fe);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:900px;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h2{
    margin-bottom:15px;
    color:#333;
}

.form-box{
    margin-bottom:30px;
}

form{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
}

input{
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:15px;
    transition:0.3s;
}

input:focus{
    border-color:#4facfe;
    outline:none;
    box-shadow:0 0 5px rgba(79,172,254,0.5);
}

button{
    grid-column:span 2;
    padding:12px;
    border:none;
    background:#4facfe;
    color:white;
    font-size:16px;
    border-radius:6px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#0077ff;
}

table{
    width:100%;
    border-collapse:collapse;
}

table thead{
    background:#4facfe;
    color:white;
}

th,td{
    padding:12px;
    text-align:center;
}

tr:nth-child(even){
    background:#f2f2f2;
}

tr:hover{
    background:#e6f3ff;
}
