{% load 'static' %}
<!DOCTYPE html>


<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Student Management</title>
<link rel="stylesheet" href="{% static "style.css" %}">



</head>

<body>

<div class="container">

<div class="form-box">

<h2>Add Student</h2>

<form method="POST">
{% csrf_token %}

<input type="text" name="name" placeholder="Enter Name" required>
<input type="email" name="email" placeholder="Enter Email" required>
<input type="number" name="age" placeholder="Enter Age" required>

<button type="submit">Save Student</button>

</form>

</div>

<hr style="margin:25px 0;">

<h2>Student List</h2>

<table>

<thead>
<tr>
<th>Name</th>
<th>Email</th>
<th>Age</th>
</tr>
</thead>

<tbody>

{% for student in students %}

<tr>
<td>{{student.name}}</td>
<td>{{student.email}}</td>
<td>{{student.age}}</td>
</tr>
{% endfor %}

</tbody>

</table>

</div>

</body>
</html>
